
/**************************
GENERAL
**************************/
body{
  font-family: 'open sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}
/**************************
header
**************************/
#wrapper {
 /*max-width is related to width. but instead of width, max width that it can be smaller for mobile devices/tablet.*/
 max-width: 940px
 /*margin 0 is for all sides.*/
 margin: 0 auto;
 /*values first one is t: limeop and bottom. second one is left and right.*/
 padding: 0 5%;
}


header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin:0;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/*************************
navigation
**************************/
nav {
 text-align: center;
 padding: 10px 0;
 margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/**************************
footer
**************************/
footer {
 font-size: 0.75em;
 text-align: center;
 padding-top: 50px;
 color: #ccc;
 clear: both;
}


/**************************
page portfolio
**************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: blue;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: white;
}

/**************************
about me page
**************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 90%;
}
/**************************
contact page
**************************/
contact-info{
 list-style: none;
 padding: 0;
 margin: 0;
 font-size: 0.9em;
}

.contact-info a {
    display: block;
    max-height: 20px;
    /*by default it will always repeat, backround image*/
    background-repeat: no-repeat;
    /*re-size the background image*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.mail a {
    background-image: url(../img/mail.png)
}

.contact-info li.twitter a {
    background-image: url(../img/twitter.png)
}



/**************************
COLORS
**************************/
body {
    background-color: white;
    color: #999;
}
a {
    color: #0000ff;
}

header {
    background: #0000ff;
}

h1,h2 {
    color: #fff;
}

nav {
   background: #0040a0;
}
/*pseudo-class*/
nav a,nav a visited {
    color: #fff;
}
nav a.select nav a.hover {
    color: #32673f;
}

/**************************
MEDIA querie
**************************/
/*TWO COLUM LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li {
        width: 28.3333%;
        
    }
    #gallery li:nth-child{
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}